<h3>Family Foods</h3>
<article>
    <img src="../images/canhchua.jpg" alt="canhchua" id="canhchua">
    <a href="https://eva.vn/bep-eva/5-cach-nau-canh-chua-don-gian-ngon-bao-nhieu-com-cung-het-chieu-mua-c162a365553.html">Canh Chua</a>
</article>

<article>
    <img src="../images/cakhoto.jpg" alt="cakhoto" id="cakhoto">
    <a href="https://pasgo.vn/blog/cach-lam-ca-kho-to-thom-ngon-cua-nguoi-mien-nam-3845">Cá Kho Tộ</a>
</article>

<article>
    <img src="../images/thitham.jpg" alt="thitham" id="thitham">
    <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/huong-dan-chi-tiet-cach-lam-chan-gio-ham-thuoc-bac-1108580">Thịt Heo Hầm</a>
</article>

<article>
    <img src="../images/thitgakhoxa.jpg" alt="thitgakhoxa" id="thitgakhoxa">
    <a href="https://beptruong.edu.vn/day-nau-an/mon-an-ngon/ga-xao-sa-ot">Thịt Gà Kho Xã Ớt</a>
</article>

<article>
    <img src="../images/thitkhotau.jpg" alt="thitkhotau" id="thitkhotau">
    <a href="https://pasgo.vn/blog/cach-lam-thit-kho-trung-chi-30-phut-cho-bua-com-thom-ngay-me-ly-3617">Thịt Kho Trứng/ Thịt Kho Tàu</a>
</article>

<!-- <h3>Fast Foods</h3> -->
<article>
    <img src="../images/gachiennuocnam.jpg" alt="ganam" id="ganam">
    <a href="https://pasgo.vn/blog/huong-dan-cach-lam-ga-chien-mam-thom-lung-ai-cung-thich-3334">Gà Chiên Nước Mắm</a>
</article>

<article>
    <img src="../images/garan.jpg" alt="garan" id="garan">
    <a href="https://www.dienmayxanh.com/kinh-nghiem-hay/cach-lam-ga-ran-vi-nhu-ga-kfc-sieu-ngon-cuc-de-lam-1091506">Gà Rán</a>
</article>

<article>
    <img src="../images/micay.jpg" alt="micay" id="micay">
    <a href="https://wikiohana.net/am-thuc/mon-ngon/mi-cay/">Mỳ Cay Hàn Quốc</a>
</article>

<article>
    <img src="../images/pizza.jpg" alt="pizza" id="pizza">
    <a href="https://mcspiedoboston.com/am-thuc-y/cach-lam-banh-pizza-tai-nha-bang-chao/">Pizza</a>
</article>