<!-- thiết kế trang tạo mới khách hàng -->
<!-- đặt bao nhiêu trường colum cần lấy dữ liệu thì phải show ra cho người dùng thấy hết -->

<label>Name</label>
<input type="text" name="name" value="<%= customer.name %>">
<br>

<label>Email</label>
<input type="text" name="email" value="<%= customer.email %>">
<br> 

<label>Phone</label>
<input type="text" name="phone" value="<%= customer.phone %>">
<br>

<label>Password</label>
<input type="password" name="password" value="<%= customer.password %>">
<br>