<!-- thiết kế trang tạo mới khách hàng -->
<!-- đặt bao nhiêu trường colum cần lấy dữ liệu thì phải show ra cho người dùng thấy hết -->

<label>Name</label>
<input type="text" class="inputname" name="name" value="<%= customer.name %>">
<br>
<br>

<label>Email</label>
<input type="text" class="inputemail" name="email" value="<%= customer.email %>">
<br> 
<br>

<label>Phone</label>
<input type="text" class="inputphone" name="phone" value="<%= customer.phone %>">
<br>
<br>

<label>Password</label>
<input type="password" class="inputpassword" name="password" value="<%= customer.password %>">
<br>
<br>