<h2>New Customer</h2>
<form action="/customers" method="POST">
    <%- include('_form_fields') %> 
    <a href="/customers" class="aCancelNew">Cancel</a> <!-- nếu bấm Cancel thì hệ thống sẽ quay lại trang hiển thị khách hàng -->
    <button type="submit" class="btnCreateNew">Create</button> <!-- tiếng hành tạo mới khách hàng -->

</form>